body {
       background-color: #d40707;
       color: #221811;
       font-family: 'Cinzel', serif;
}

#wrapper {
       background-color: #ffffff;
       margin-left: auto;
       margin-right: auto;
       width: 80%;
}

header {
       background-color: #4124d0;
       color: #fbfbfb;
       text-align: center;
}

h1 {
       line-height: 200%;
}

h2 {
       color: #d40707;
}

nav {
       font-weight: bold;
       text-align: center;
}

footer {
       background-color: #4124d0;
       color: #fbfbfb;
       font-size: .60em;
       font-style: italic;
       text-align: center;
}